/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Fredoka:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik+80s+Fade&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Fredoka:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik+80s+Fade&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sarpanch:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Fredoka:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sarpanch:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300..700&display=swap');
body {
   background-color:rgb(27, 21, 21);
   margin-left: 20%;
   margin-right: 20%;
}

header {
    min-height: 25vh;
    max-height: 40vh;
    background-color: rgb(238, 230, 230);
    margin-top: 0;
    border-top: 20px solid rgb(238, 230, 230);
    border-bottom: 2px solid rgb(27, 21, 21);
    visibility: visible;
    position: relative;
    
}

h1 {
    font-family: "Rubik 80s Fade", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 6rem;
    display: grid;
    text-align: center;
    place-items: center;
    margin-top: 0;
    padding-top: .5em;
    color:rgb(37, 29, 29);
    text-decoration: 2px underline;
    border: 4px '|' rgb(27, 21, 21);
}

#cycle:after {
    animation-name:cycle;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    content: "";
}

@keyframes cycle {
    0% {
      content: "SPOT";
    }
    50% {
      content: "DROP";
    }
    100% {
        content: "SPOT";
      }
}

nav {
    font-family: "Sarpanch", sans-serif;
    font-weight: 600;
    font-size: calc(1.5rem + 0.5vw);
    text-align: center;
    padding-bottom: .75em;;
}
/* .form-group {
    font-size: 2rem;
}

.form-group input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(37, 29, 29);
    background-color: rgb(238, 230, 230);
} */

/* #new-spot {
    border: 2px dashed rgb(37, 29, 29);
    font-size: 2rem;
    font-family: "Sarpanch", sans-serif;
    background-color: rgb(238, 230, 230);
    padding-bottom: 0;
    margin-bottom:0;
    font-weight: 600;
    z-index: 999;
}

#new-spot:hover {
    background-color: rgb(37, 29, 29);
    color: rgb(238, 230, 230);
    border: 2px dashed rgb(238, 230, 230);
    border-bottom: 2px solid rgb(37, 29, 29);
}
} */


#map { 
    height: 50vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    visibility: hidden;
    height: 40vh;
    width: 100%;
    z-index: 999; /* Sit on top */
    background-color: rgb(238, 230, 230); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    border-bottom: 2px solid rgb(27, 21, 21);
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
    "spot-name description spot-pic"
    "spot-type rating  bust-factor"
    ". upload ."; 
    font-family: "Roboto Condensed", sans-serif;
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    height: auto;
    padding: 1em;
  }
  
  /* The navigation links inside the overlay */
    #spot-name { 
      grid-area: spot-name;
      border: none;
      border-bottom: 2px solid rgb(27, 21, 21);
      background-color: rgb(238, 230, 230);
    }
    #description { 
      grid-area: description;
      border: none;
      border-bottom: 2px solid rgb(27, 21, 21);
      background-color: rgb(238, 230, 230);
    }
    #spot-type { 
      grid-area: spot-type;
      border: none;
      border-bottom: 2px solid rgb(27, 21, 21);
      background-color: rgb(238, 230, 230);
    }
    #spot-pic { 
      grid-area: spot-pic;
    }
    #rating { 
      grid-area: rating;
    }
    #bust-factor { 
      grid-area: bust-factor;
    }
    #upload { 
      grid-area: upload;
      
    }
  .menu-group {
    padding: .5em;
  }
  
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  /* @media screen and (max-width: 75%) {
    .overlay-content {font-size: 20px}
    .nav {font-size: 1rem;}
  } */
  .open {
    visibility: visible; 
    opacity:1;
    /* height:50%; */
    position: relative;
  }

  .close {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    
  }

  .rating input{
    border: none;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Fstar-svg-star-clipart-star-png-star-cut-files-star-outline-svg-star-vector-cut-files-silhouette-cricut-etsy--613193305540935696%2F&psig=AOvVaw0Kld7O0bfez4J6tghhshWr&ust=1733879635518000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIjv7Y-DnIoDFQAAAAAdAAAAABAE');
    background-size: cover;
    background-position: center;
    /* width: 10px; /* Reduced width 
    height: 10px; */ */
}

button {
  border: 2px solid rgb(27, 21, 21);
  font-family: "Rubik 80s Fade", system-ui;
  font-size: 1.5em;
}

button:hover{
  background-color: rgb(27, 21, 21);
  color: rgb(238, 230, 230);
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(27, 21, 21);
  /* position:fixed;
  bottom: 0; */
  padding-top: 4em;
}

footer a {
  color: rgb(238, 230, 230);
  font-family: sans-serif;
}